body{
    background-image: url("https://www.photohdx.com/images/2016/10/yellow-blue-blurry-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}